
<!-- <div class="app-mensajes" id="app-mensajes">
    <div [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}" *ngFor="let chat of chatService.chats">
        <span class="badge" [ngClass]="{'badge-info': chatService.usuario.uid == chat.uid, 'badge-success': chatService.usuario.uid != chat.uid}">{{chat.nombre}}</span>
        <p>
            {{chat.mensaje}}
        </p>
    </div> -->
    <!-- <div>
        <span class="badge badge-success">Luis</span>
        <p>
            Hola geral
        </p>
    </div> -->
<!-- </div> -->

<!-- <input class="fonm-control" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()"> -->

<div class="app" >

  <div class="head clearfix">
    <span class="messages-notification">
      <i class="fa fa-comments-o"></i>
    </span>
    <span class="title">Chatfy</span>
    <span class="create-new">
      <i class="fa fa-pencil-square-o"></i>
    </span>
  </div>

  <div class="body">
    <div class="chat-messages">
      <div class="chat app-mensajes" id="app-mensajes">
        <div class="chat-content clearfix" >

            <div *ngFor="let chat of chatService.chats">
                <span [ngClass]="{'friend': chatService.usuario.uid == chat.uid, 'last': chatService.usuario.uid == chat.uid, 'you': chatService.usuario.uid != chat.uid, 'first': chatService.usuario.uid != chat.uid}" >{{chat.mensaje}}
                    <span class="time">{{chat.nombre}}</span>
                </span>
              </div>
        </div>

        <div class="msg-box">
          <input type="text" class="ip-msg" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()" />
          <span class="btn-group">
            <i class="fa fa-paper-plane"></i>
          </span>
        </div>

      </div>
    </div>

  </div>

  <div class="footer" align="center">
    <span class="text-white copy-text">&copy; Copyright 2019 | Powered by <a href="https://gericyber.github.io/Portafolio">Gericyber</a></span>
  </div>

</div>
