<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.mensaje}}
    </li>
</ul> -->

<div class="container main-container">
    <h1>FireChat</h1>
    <div class="col-md-12 text-right" *ngIf="chatService.usuario.uid">
        <button (click)="chatService.logout()" type="button" class="btn btn-dark">Salir</button>
    </div>

    <app-logn *ngIf="!chatService.usuario.uid"></app-logn>

    <div class="chat-window" *ngIf="chatService.usuario.uid">
        <app-chats></app-chats>
    </div>

</div>